<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./style.css" media='all'/>
    </head>
    <title>{{title}}</title>
<body>
    <button class="redbutton">testing</button>
    {% if session %}
    <div>
        <a href="/" role="button">
        <button class="redbutton">Main Blog Page</button>
        </a>|
        <a href="/new-post" role="button">
            <button class="redbutton">Add a Blog Entry</button>
            </a>|
        <a href='/logout' role="button">
            <button class="redbutton" >Log Out</button>
        </a>
    </div>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=True) %}

        <ul>
        {% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>

    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>