.redbutton {
    background: Crimson;  
    color: white;
    padding: .5em;
    text-decoration: none;
  }
  .error {
    color: red;
  }
  
  .buttonhover {
    background: FireBrick;
    color: White;
  }